---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPreview from '../../components/BlogPreview.astro';
import Pagination from '../../components/Pagination.astro';
import { getCollection } from 'astro:content';
import { filterPublishedPosts, sortPostsByDate } from '../../utils/posts';

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection('blog');
  const publishedPosts = filterPublishedPosts(posts);
  const sortedPosts = sortPostsByDate(publishedPosts);

  return paginate(sortedPosts, { pageSize: 10 });
}

const { page } = Astro.props;
---

<BaseLayout title="Blog Posts">
  <h1 class="text-4xl font-bold mb-8  text-gray-900 dark:text-white">Blog Posts</h1>
  <section>
    {page.data.map((post) => <BlogPreview post={post} />)}
  </section>
  <Pagination
    currentPage={page.currentPage}
    totalPages={page.lastPage}
    baseUrl="/blog/"
  />
</BaseLayout>