---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPreview from '../components/BlogPreview.astro'
import SocialLinks from '../components/SocialLinks.astro'
import { getCollection } from 'astro:content'
import { filterPosts } from '../utils/posts'
import { siteConfig } from '../config'

const posts = await getCollection('blog')

// Configure homepage post filtering
const homePagePosts = filterPosts(posts, {
  ...siteConfig.homepage,
})
---

<BaseLayout title={siteConfig.title}>
  <div class="text-left mb-16 mt-20">
    <h1 class="text-4xl font-bold mb-4 text-gray-900 dark:text-white">{siteConfig.slogan}</h1>
    <p class="text-xl mb-8 text-gray-600 dark:text-gray-300">{siteConfig.description}</p>
    <SocialLinks />
  </div>

  <section>
    {homePagePosts.map((post) => <BlogPreview post={post} />)}
  </section>
</BaseLayout>
