---
interface Props {
    currentPage: number;
    totalPages: number;
    baseUrl: string;
}

const { currentPage, totalPages, baseUrl } = Astro.props;
---

<nav class='flex justify-center gap-4 mt-12'>
    {
        currentPage > 1 && (
            <a
                href={`${baseUrl}${currentPage - 1 > 1 ? currentPage - 1 : ''}`}
                class='px-4 py-2 bg-gray-100 dark:bg-gray-800 rounded hover:bg-gray-200 dark:hover:bg-gray-700'
            >
                Previous
            </a>
        )
    }
    {
        currentPage < totalPages && (
            <a
                href={`${baseUrl}${currentPage + 1}`}
                class='px-4 py-2 bg-gray-100 dark:bg-gray-800 rounded hover:bg-gray-200 dark:hover:bg-gray-700'
            >
                Next
            </a>
        )
    }
</nav>
