---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { ClientRouter, slide } from 'astro:transitions'
import { GoogleAnalytics } from 'astro-google-analytics'
import { siteConfig } from '../config'

interface Props {
  title: string
  description?: string
}

const { title, description = 'This is a blog that wish can share something about website Knowledge and life for you' } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    {siteConfig.googleAnalysis && <GoogleAnalytics id={siteConfig.googleAnalysis} />}
    <ClientRouter />
  </head>
  <body class="min-h-screen bg-white dark:bg-gray-900">
    <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
      <Header transition:persist />
      <main class="py-12">
        <slot />
      </main>
      <Footer transition:persist />
    </div>
  </body>
</html>
